:root {
  --color-bg-primary: #0B0B0B;
  --color-bg-secondary: #1A1A1A;

  --color-text-primary: #F5F5F5;
  --color-text-secondary: #B0B0B0;

  --color-accent: #E50914;

  --color-border: rgba(255, 255, 255, 0.1);
  --color-overlay: rgba(0, 0, 0, 0.6);
  --color-glass: rgba(11, 11, 11, 0.9);

  --color-shadow: rgba(0, 0, 0, 0.5);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #0B0B0B;
}


